<div className="wrapper">
 

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="from" ></div>
  
      </div>
      <div class="col-sm">
        <div class="to" style="margin-top: 150px;" ></div>
      </div>
    
    </div>
  </div>
  
  </div>
<tn-curved-line-arrow [fromSelector]="'.from'" [toSelector]="'.to'" [middleY]=0 [middleX]=140 [width]=4 [debugLine]=false  [color]="'red'"></tn-curved-line-arrow>

<div className="wrapper">
 

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="from2" ></div>
  
      </div>
      <div class="col-sm">
        <div class="to2" style="margin-top: 150px;" ></div>
      </div>
    
    </div>
  </div>
  
  </div>
<tn-curved-line-arrow [fromSelector]="'.from2'" [toSelector]="'.to2'" [middleY]=0 [middleX]=140 [width]=4 [debugLine]=false  [color]="'red'"></tn-curved-line-arrow>